<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/__fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理</title>
</head>

<body>

<!--导航栏-->
<nav th:replace="admin/__fragments :: menu(1)"></nav>


<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="active item">管理</a>
        </div>
    </div>
</div>


<!--主页-->
<div class="index-footer-big">
    <div class="ui container">
        <div class="ui secondary form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="title">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="typesId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}"></div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommendStatus" name="recommendStatus">
                        <label for="recommendStatus">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui teal basic button"><i class="search icon"></i>搜索</button>

                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="blogList" class="ui table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
<!--                    <p th:text="${blog['title']}"></p>-->
<!--                    <p th:text="${iterStat}"></p>-->

                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog['title']}">刻意练习清单</td>
                    <td th:text="${blog.types.name}">认知升级</td>
                    <td th:text="${blog['recommendStatus']} ? '是':'否'">是</td>
                    <td th:text="${blog['releaseStatus']} ? '发布':'草稿'">草稿</td>
                    <td th:text="${blog['updateTime']}">2017-10-02 09:45</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1" >
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item" th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</div>

<!--底栏-->
<footer th:replace="__fragments :: footer"></footer>


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.nav-item').toggleClass('index-mobile');
    });
    $('.ui.dropdown').dropdown();

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });


    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typesId']").val(),
            recommendStatus : $("[name='recommendStatus']").prop('checked'),
            page : $("[name='page']").val()
        });

    }
</script>
</html>