<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
</head>
<body>
<nav th:fragment="menu(n)" class="ui white attached segment index-navigation-mini">
    <div class="ui container">
        <div class="ui white secondary stackable menu">
            <h2 class="ui blue header item">DD</h2>
            <a href="#" th:href="@{/}" class="item index-mobile" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="item index-mobile" th:classappend="${n==2} ? 'active'"><i class="th large icon"></i>分类</a>
            <a href="#" th:href="@{/about}" class="item index-mobile" th:classappend="${n==3} ? 'active'"><i class="info icon"></i>关于</a>
            <div class="right item index-mobile">
                <form action="#"method="post" th:action="@{/search}" target="_blank">
                    <div class="ui icon input">
                        <input name="query" type="text" placeholder="搜索" th:value="${query}">
                        <i class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui white icon menu toggle button index-right-top">
        <i class="sidebar icon"></i>
    </a>
</nav>

<footer th:fragment="footer" class="ui vertical segment index-footer-big">
    <div class="ui center aligned container">
        <div class="ui inverted grey divided stackable grid">
            <h5 class="ui header index-text-lined index-text-spaced">联系我:1739716491@qq.com</h5>
            <br>
        </div>
    </div>
    <p class="index-text-lined index-text-thin index-text-spaced">Copyright ©2020-2020 axiV548</p>
</footer>


</body>
</html>