<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="__fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>

<body>

    <!--导航栏-->
    <nav th:replace="__fragments :: menu(1)"></nav>

    <!--主页-->
    <div class="blog-container index-footer-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左列表-->
                <div class="eleven wide column">
                    <!--头-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui blue header">文章</h3>
                            </div>
                        </div>
                    </div>

                    <!--中-->
                    <div class="ui attached segment">
                        <div class="ui padded vertical segment" th:each="blog : ${page.content}" th:if="${blog.publicStatus && blog.releaseStatus}">
                            <div class="ui middle aligned mobile reversed stackable grid" >
                                <div class="five wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src="https://pic1.zhimg.com/50/v2-5e39fc2bd7f7b826dc81b7106b009f5c_hd.jpg" th:src="@{${blog.firstImg}}" alt="" class="ui rounded image">
                                    </a>
                                </div>
                                <div class="eleven wide column">

                                    <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" style="color: #333 !important;" th:text="${blog.title}"></a></h3>
                                    <p class="index-text" th:text="|${blog.description}......|"></p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}"></a></div>
                                                        <i class="calender icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}"></span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.views}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column">
                                            <a href="#" target="_blank" class="ui blue basic label" th:text="${blog.types.name}">标签</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--底-->

                    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini blue basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini blue basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--右导航-->
                <div class="five wide column">
                    <!--右关于我-->
                    <div class="ui segment">
                        <div>
                            <div class="m-bg-class_cover" align="center">
                                <div class="m-margin-top-max" align="center">
                                    <img class="ui circular image" align="center" src="https://cache.cswsadlab.com/wp-content/uploads/2015/03/笑颜1-150x150.jpg" style="width: 80px;height: 80px;">
                                </div>
                                <div align="center">axiV548</div>
                                <div class="" align="center">
                                    <a href="https://github.com/axiV548/" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--右分类-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="th large icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/types/-1}" target="_blank">更多<i class="angle double right icon"></i></a>
                                </div>
                            </div>
                            <div class="ui fluid vertical menu">
                                <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}"></span>
                                    <div class="ui label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
                        </div>


                    <!--右推荐-->

                        <div class="ui attached secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui attached segment" th:each="blog : ${recommendBlog}" th:if="${blog.publicStatus && blog.releaseStatus}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="index-text-color" th:text="${blog.title}">哈哈哈</a>
                        </div>

                    <footer th:replace="__fragments :: footer"></footer>
                    </div>

                </div>
            </div>
        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('index-mobile');
    });
</script>
</html>