<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="__fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索页</title>
</head>
<body>

<!--导航栏-->
<nav th:replace="__fragments :: menu(1)"></nav>
<br><br><br><br><br>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui blue header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    <h2 class="ui orange header" th:text="${page.totalElements}"></h2>
                </div>
            </div>
        </div>


        <div class="ui top attached blue segment">
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui blue header">文章</h3>
                    </div>
                </div>
            </div>


            <!--中-->
            <div class="ui attached segment">
                <div class="ui padded vertical segment" th:each="blog : ${page.content}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://pic1.zhimg.com/50/v2-5e39fc2bd7f7b826dc81b7106b009f5c_hd.jpg" th:src="@{${blog.firstImg}}" alt="" class="ui rounded image">
                            </a>
                        </div>
                        <div class="eleven wide column">
                            <!--                                    <h1 th:text="${blog}"></h1>-->
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" style="color: #333 !important;" th:text="${blog.title}"></a></h3>
                            <p class="index-text" th:text="|${blog.description}......|"></p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}"></a></div>
                                            <i class="calender icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}"></span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i><span th:text="${blog.views}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank" class="ui blue basic label" th:text="${blog.types.name}">标签</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--底-->
            <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini blue basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.first}" class="ui mini blue basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>