<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="__fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>types</title>
</head>

<body>

<!--导航栏-->
<nav th:replace="__fragments :: menu(2)"></nav>
<br>
<br>
<br>
<br>
<br>

<!--主页-->
<div>
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui blue header">分类</h3>
                </div>
            </div>
        </div>

        <div class="ui attached segment">
            <div class="ui labeled button" th:each="type : ${types}" style="padding-bottom: 0.5em !important;">
                <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic  button" th:classappend="${type.id==activeTypeId} ? 'blue'" th:text="${type.name}"></a>
                <div class="ui basic left pointing label" th:classappend="${type.id==activeTypeId} ? 'blue'" th:text="${#arrays.length(type.blogs)}"></div>
            </div>
        </div>

        <div class="ui top attached blue segment" style="padding-left: 2.5em !important;">
            <div class="ui padded vertical segment " th:each="blog : ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid" >
                    <div class="eleven wide column">
                        <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}"></a></h3>
                        <p class="m-text index-text" th:text="|${blog.description}......|">.</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" ></a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
<!--                                <p th:text="${blog}"></p>-->
<!--                                <div th:each="tags : ${blog}"></div>-->
<!--                                <p th:text="${tags}"></p>-->
<!--                                <p>我真</p>-->
<!--                                <a href="#" target="_blank" class="ui blue basic label m-padded-tiny m-text-thin" th:text="${tag}"></a>-->
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img th:src="@{${blog.firstImg}}"  alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini blue basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini blue basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('index-mobile');
    });
</script>
</html>